    <div class="form-group">
      <details>
        <summary><span class="summary">Where can I find the appendix?</span></summary>
        <div class="panel panel-border-narrow">
          <p>
            You can find all the guidance on gov.uk under <a href="https://www.gov.uk/government/publications/chapter-8-appendix-fm-family-members">Chapter 8 of the immigration directorate instructions.</a>
          </p>
          <p>
            You can also view <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/469692/Appendix_FM_1_7_Financial_Requirement_August_2015.pdf">Appendix FM 1.7</a> which relates specifically to this financial requirement.
          </p>
        </div>
      </details>
    </div>