.lionel {
	background: url('/public/images/lionel.jpg') no-repeat center center;
	background-size: cover;
}

.brent {
	background: url('/public/images/davidbrent.jpg') no-repeat center center;
	background-size: cover;
}

.remove-bottom-margin {
	margin-bottom: 0 !important;
}

.remove-bottom-padding {
	margin-bottom: 0 !important;
}

.continue-button {
	margin: 2rem 0;
}

.govuk-box-highlight.panel-fail {
	background-color: $panel-colour;
	color: #000;
}

#logo {
	background-image: url('/public/images/homeoffice_logotype_shield_invert_trans.png') !important;
}