{% extends "layout_gds.html" %} {% block page_title %} Home Office - Visa and Immigration {% endblock %} {% block content %}
<main id="content" role="main">

    {% include "includes/phase_banner_alpha.html" %} {% include "includes/breadcrumb_notifying_1.html" %}

    <h2 class="heading-large " style="margin-top: 20px;">Your email and password</h2>


    <form action="/DCJ/2/check-answers" method="get" class="form">


        <div class="form-group">
            <label class="form-label-bold" for="email">Your email address</label>
            <span class="form-hint">You need an email address and password so you can save your application and go back to it later.</span>
            <input class="form-control" id="email" name="email" type="email" style="margin-bottom: 10px;">

           

        </div>


        <div class="form-group" style="margin-top: 20px;">
            <label class="form-label-bold" for="password">Create a password</label>
            <span class="form-hint">
        Your password must
            <ul class="list list-bullet" style="margin-left: 25px; margin-top: 15px;">
                <li>be at least 8 characters long</li>
                <li>contain at least one letter</li>
                <li>contain at least one number or symbol such as @ or %</li>
            </ul>
        </span>
            <input class="form-control" id="password" name="password" type="password">
        </div>
        <div class="form-group">
            <label class="form-label" for="password2">Repeat your password</label>
            <input class="form-control" id="password2" name="password2" type="password">
        </div>

        <div class="form-group">
            <input type="submit" class="button continue-button" value="Save and continue">
        </div>

    </form>

</main>
{% endblock %}