{% extends "layout.html" %}

{% block page_title %}
  Home Office - Income Proving
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

    <div class="breadcrumbs">
      <ol role="breadcrumbs">
        <li><a href="/residency/">Search</a></li>
        <li><a href="#" onclick="history.back()">Results</a></li>
      </ol>
    </div>

    <h1 class="form-title heading-large">
      {{ firstName|default('Joe') }} {{ lastName|default('Bloggs') }}
    </h1>

    <div class="text">
      <p class="lede">
        Male, born {{ dob|default('02/01/1988') }} <br />
        Brazillian nationality
      </p>
    </div>

    <hr />

    <h2 class="form-title heading-medium">
      Associated documents
    </h2>

    <table>
      <thead>
        <tr>
          <th scope="col">Document #</th>
          <th scope="col">Type</th>
          <th scope="col">Issued</th>
          <th scope="col" class="numeric">Expires</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/residency/results/record/document/">77534BLOGG82650</a></td>
          <td>Passport</td>
          <td>Brazil</td>
          <td class="numeric">10/12/2022</td>
        </tr>
        <tr>
          <td><a href="/residency/results/record/document/">IT1552898346765</a></td>
          <td>Identity Card</td>
          <td>Italy</td>
          <td class="numeric">10/11/2020</td>
        </tr>
        <tr>
          <td><a href="/residency/results/record/document/">23442BLOGG123</a></td>
          <td>Passport</td>
          <td>Brazil</td>
          <td class="numeric">10/12/2014</td>
        </tr>
      </tbody>
    </table>

    <h2 class="heading-medium">
      Entry and exit information
    </h2>
    
    <table>
      <thead>
        <tr>
          <th scope="col">UK Entry</th>
          <th scope="col">UK Exit</th>
          <th scope="col">Country</th>
          <th scope="col" class="numeric">Length of leave</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>01/01/2016</td>
          <td>08/01/2016</td>
          <td>Turkey</td>
          <td class="numeric">7</td>
        </tr>
        <tr>
          <td>07/10/2015</td>  
          <td>16/10/2015</td>  
          <td>Spain</td>  
          <td class="numeric">9</td>
        </tr>
        <tr>
          <td>01/04/2015</td>  
          <td>16/04/2015</td>  
          <td>Germany</td>  
          <td class="numeric">15</td>
        </tr>
        <tr>
          <td>12/08/2014</td>  
          <td>23/08/2014</td>  
          <td>Austria</td>  
          <td class="numeric">11</td>
        </tr>
        <tr>
          <td>03/12/2013</td>  
          <td>29/01/2014</td>  
          <td>Barbados</td>  
          <td class="numeric">57</td>
        </tr>

      </tbody>
    </table>

</main>
{% endblock %}
