{% extends "layout.html" %} {% block page_title %} Home Office - Visa and Immigration {% endblock %} {% block content %}
<main id="content" role="main">

    {% include "includes/phase_banner_alpha.html" %} {% include "includes/outgoing-header.html" %} {% include "includes/applicant-details.html" %}

    <h1 class="heading-medium" style="margin-top: 20px;">Generate grant notification</h1>

    <form action="/outgoing-comms/5/3" method="get" class="form">

        <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

        <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
          Please correct the following error
        </h1>

        <p>
        </p>

            <ul class="error-summary-list">
      <li><a href="#police">Does the applicant need to register with the police?</a></li>

    </ul>

  </div>

        <fieldset class="inline" id="police">
            <div class="form-group error">

            <span class="form-label-bold">Does the applicant need to register with the police?</span>
             <span class="error-message">
            Please make a selection
          </span>


            <label class="block-label" for="radio-police-yes">
                <input id="radio-police-yes" type="radio" name="radioPolice" value="yes"> Yes
            </label>
            <label class="block-label" for="radio-police-no">
                <input id="radio-police-no" type="radio" name="radioPolice" value="no"> No
            </label>
            </div>
        </fieldset>



        <h2 class="heading-medium">Course details</h2>


        <table class="no-lines">
            <tr>
                <th>Course:</th>
                <td>Electronic Engineering</td>
            </tr>
            
            <tr>
                <th>Course level:</th>
                <td>Master of Engineering</td>
            </tr>
            <tr>
                <th>Sponsor:</th>
                <td>Manchester University</td>
            </tr>
            <tr>
                <th>Main study address:</th>
                <td>Faculty of Engineering, Electronic House, M2 4TG</td>
            </tr>
        </table>

        <fieldset class="inline">

            <h2 class="heading-small">Are these correct?</h2>

            <label class="block-label" for="radio-sponsor-ok">
                <input id="radio-sponsor-ok" type="radio" name="radioSponsor" value="yes" checked> Yes
            </label>
            <label class="block-label" data-target="edit-sponsor" for="radio-sponsor-edit">
                <input id="radio-sponsor-edit" type="radio" name="radioSponsor" value="no"> No
            </label>

        </fieldset>

        <div class="js-hidden" id="edit-sponsor">
            <fieldset class="inline">
                <div class="panel panel-border-narrow">
                    <h2 class="heading-medium">Correct the course details</h2>
                    <div class="form-group">
                        <label class="form-label-bold" for="course">Course</label>
                        <input class="form-control" id="course" name="course" type="text" value="Electronic Engineering">
                    </div>
                    <div class="form-group">
                        <label class="form-label-bold" for="courselevel">Course level</label>
                        <input class="form-control" id="courselevel" name="course" type="text" value="Master of Engineering">
                    </div>
                    <div class="form-group">
                        <label class="form-label-bold" for="sponsorname">Sponsor name</label>
                        <input class="form-control" id="sponsorname" name="sponsor" type="text" value="Manchester University">
                    </div>
                    <div class="form-group">
                        <label class="form-label-bold" for="sponsoraddr">Main study address</label>
                        <textarea class="form-control" id="sponsoraddr" name="sponsor" type="text" rows="4">
Faculty of Engineering, 
Electronic House,
M2 4TG
                        </textarea>
                    </div>

                </div>
            </fieldset>
        </div>



        <div class="form-group">
            <input type="submit" class="button continue-button" value="Next">
        </div>

    </form>

</main>
{% endblock %}