{% extends "layout-meta-forward.html" %}

{% block page_title %}
  Home Office - Visa and Immigration
{% endblock %}

{% block content %}
<main id="content" role="main">

{% include "includes/phase_banner_alpha.html" %}
    
    {% include "includes/outgoing-header.html" %}

    {% include "includes/applicant-details.html" %}


    
<div class="govuk-box-highlight">
      <h1 class="bold-large" style="margin-bottom: 20px;">Email sending</h1>
      
    
    <p class="bold-small">Waiting</p>
    <img src="/public/images/loading-temp.gif" />
    
    
<!--      <p>Their status on CID will be updated overnight to Decision made (GSC 7)</p>-->
    </div>



</main>
{% endblock %}
