{% extends "layout.html" %}

{% block page_title %}
  Home Office - Visa and Immigration
{% endblock %}

{% block content %}
<main id="content" role="main">

{% include "includes/phase_banner_alpha.html" %}
    
    {% include "includes/outgoing-header.html" %}

    {% include "includes/applicant-details.html" %}


    
<div class="govuk-box-highlight" style="background: #F47738;">
      <h1 class="bold-large" style="margin-bottom: 20px;">Status pending</h1>
    
    <p class="bold-small">We will inform you within 48 hours of the final status for Ayo Zan Zheng</p>

    <p class="bold-small"> You can continue to use this system</p>

    
<!--      <p>Their status on CID will be updated overnight to Decision made (GSC 7)</p>-->
    </div>

    <a href="/outgoing-comms/5/index" class="button">Find another user</a>



</main>
{% endblock %}
