{% extends "layout.html" %}

{% block page_title %}
  Home Office - Visa and Immigration
{% endblock %}

{% block content %}
<main id="content" role="main">

{% include "includes/phase_banner_alpha.html" %}
    
    {% include "includes/outgoing-header.html" %}

    {% include "includes/applicant-details.html" %}


    
<div class="govuk-box-highlight" style="background: #006435;">
      <h1 class="bold-large" style="margin-bottom: 20px;">Email sent</h1>
      <p>
        Grant for a Tier 4 (General) student visa has been sent to
Wayne Thornton
      </p>
        
    
<!--      <p>Their status on CID will be updated overnight to Decision made (GSC 7)</p>-->
    </div>

    <a href="/outgoing-comms/5/index" class="button">Find another user</a>



</main>
{% endblock %}
