{% extends "layout.html" %} {% block page_title %} Home Office - Visa and Immigration {% endblock %} {% block content %}
<main id="content" role="main">

    {% include "includes/phase_banner_alpha.html" %} {% include "includes/outgoing-header.html" %}


    <div class="govuk-box-highlight" style="padding: 1em 0 0em 0;">
        <h1 class="bold-large" style="padding: 20px 0 0 0; color: #fff;">Email sent</h1>
        <p style="padding: 0px 20px 20px 20px; color: #fff;">to <br/>
            <span class="bold-small">Wayne Thornton</span>
           </p>
    </div>


    <h2 class="heading-medium" style="margin-top: 20px;">Find another applicant</h2>
    <form action="/outgoing-comms/5/check-input" method="get" class="form">
        <fieldset>
            <div class="form-group">
                <label class="form-label-bold" for="cid">
                    Unique application number (UAN)
                    <span class="form-hint">For example 1212-2222-3333-4444</span>
                </label>
                <input class="form-control form-control-1-4" id="cid" name="pnn" type="text" autocomplete="off">
            </div>

        </fieldset>
        <div class="form-group">
            <input type="submit" class="button continue-button" value="Find">
        </div>

    </form>


</main>
{% endblock %}
