{% extends "layout.html" %} {% block page_title %} Home Office - Visa and Immigration {% endblock %} {% block content %}
<main id="content" role="main">

    {% include "includes/phase_banner_alpha.html" %} {% include "includes/outgoing-header.html" %}


    <h2 class="heading-medium" style="margin-top: 20px;">Find an applicant</h2>
    <form action="/outgoing-comms/5/check-input" method="get" class="form">
        <fieldset>
            <div class="form-group error">
                <label class="form-label-bold" for="cid">
                    Unique application number (UAN)
                    <span class="error-message">Notify by letter</span>         
                </label>
                <input class="form-control form-control-1-4" id="cid" name="pnn" type="text" autocomplete="off" placeholder="UAN or CID case ID">
            </div>

        </fieldset>
        <div class="form-group">
            <input type="submit" class="button continue-button" value="Find">
        </div>

    </form>





</main>
{% endblock %}