{% extends "layout.html" %} {% block page_title %} Home Office - Visa and Immigration {% endblock %} {% block content %}
<main id="content" role="main">

    {% include "includes/phase_banner_alpha.html" %} {% include "includes/outgoing-header.html" %}


    <div class="admin-column-wrapper">
        <div class="admin-content-wrapper">
            <div class="admin-content">
                <div class="admin-submenu-container">
                    <div class="admin-submenu">
                        <ul>
                            <li><a href="#"><span>Find an applicant</span></a></li>
                            <li><a href="#"><span>Failed emails</span> <span class="failed">5</span></a></li>
                            <li><a href="#"><span>Unknown emails</span> <span class="unknown">3</span></a></li>
                            <li><a href="#"><span>Sent emails</span> <span class="sent">2,345</span></a></li>
                        </ul>
                    </div>

                    <div class="admin-panes">
                        <div class="admin-pane">
                            <h2 class="heading-medium" style="margin-top: 20px;">Find an applicant</h2>
                            <form action="/outgoing-comms/5/check-results" method="get" class="form">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="form-label" for="cid">Applicant ID</label>
                                        <input class="form-control-1-8" id="cid" name="pnn" type="text" autocomplete="off">
                                    </div>

                                </fieldset>
                                <div class="form-group">
                                    <input type="submit" class="button continue-button" value="Find">
                                </div>

                            </form>
                        </div>

                        <div class="admin-pane">
                            <h2 class="heading-medium" style="margin-top: 20px;">Failed emails</h2>
                            <p>Please correct the email in CID and resend</p>

                            
                            <table class="no-lines">
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Passport No.</th>
                                    <th>Date sent</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>Ayo Zan Zheng</td>
                                    <td><span class="failed">ayo.zhang@address.com</span></td>
                                    <td>L898902C</td>
                                    <td>08/07/16</td>
                                    <td><a href="#">Resend</a></td>
                                </tr>
                                <tr>
                                    <td>Ayo Zan Zheng</td>
                                    <td><span class="changed">ayo.zhang@address.com</span></td>
                                    <td>L898902C</td>
                                    <td>08/07/16</td>
                                    <td><a href="#">Resend</a></td>
                                </tr>
                            </table>
                        </div>

                        <div class="admin-pane">
                            Section 3
                        </div>

                        <div class="admin-pane">
                            Section 4
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>





</main>
{% endblock %}