{% extends "layout.html" %} {% block page_title %} Notifying people - Home Office {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
        <span class="heading-secondary">Government as a Platform (GaaP)</span>
     	Notifying People
      </h1>

            <!-- 	    <div class="text">
	      <p class="lede">
	        &ldquo;As Government, we will never ask you to tell us about something we already know (or can find out).&rdquo;
	      </p>
	    </div> -->

            <h2 class="heading-large">Current prototypes</h2>
            <!-- 	<p>We've started to design some prototypes for Proving things to Government.<br />Here is a collection of prototypes we're designing and testing.</p> -->

            <h2 class="heading-medium">Outgoing Communication</h2>
            <!-- 	<p>A service to prove an applicants income for Family Casework using information provided by HMRC.</p> -->

            <table>
                <thead>
                    <tr>
                        <th>Version</th>
                        <th>Notes</th>
                        <th>Published</th>
                        <th>Prototype</th>
                    </tr>
                </thead>
                <tbody>                    
                    <tr>
                        <td>5</td>
                        <td>View of results of email failures/unknowns</td>
                        <td>8 June 2016</td>
                        <td><a href="/outgoing-comms/5/index">View</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Team lead view of results of email failures/unknowns</td>
                        <td>10 June 2016</td>
                        <td><a href="/outgoing-comms/5/index-team-lead">View</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Email success screen</td>
                        <td>10 June 2016</td>
                        <td><a href="/outgoing-comms/5/5">View</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Email unknown screen</td>
                        <td>10 June 2016</td>
                        <td><a href="/outgoing-comms/5/5-pending">View</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Email failures screen</td>
                        <td>10 June 2016</td>
                        <td><a href="/outgoing-comms/5/5-fail">View</a></td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>Revised following user testing</td>
                        <td>7 June 2016</td>
                        <td><a href="/outgoing-comms/4/index">View</a></td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>Adding Apllicant ID lookup and pending status</td>
                        <td>6 June 2016</td>
                        <td><a href="/outgoing-comms/3/index">View</a></td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Revised following user testing</td>
                        <td>1 June 2016</td>
                        <td><a href="/outgoing-comms/2/1">View</a></td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>Initial version</td>
                        <td>24th May 2016</td>
                        <td><a href="/outgoing-comms/1/1">View</a></td>
                    </tr>
                </tbody>
            </table>

            <h2 class="heading-medium">Email confirmation as part of DCJ</h2>

            <table>
                <thead>
                    <tr>
                        <th>Version</th>
                        <th>Notes</th>
                        <th>Published</th>
                        <th>Prototype</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>1</td>
                        <td>Initial version</td>
                        <td>2nd June 2016</td>
                        <td><a href="/DCJ/3">View</a></td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</main>

{% endblock %}