{% extends "layout.html" %}

{% block page_title %}
  Proving Things to Government - Home Office
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Government as a Platform (GaaP)</span>
     	Notifying People
      </h1>

<!-- 	    <div class="text">
	      <p class="lede">
	        &ldquo;As Government, we will never ask you to tell us about something we already know (or can find out).&rdquo;
	      </p>
	    </div> -->

		<h2 class="heading-large">Current prototypes</h2>
	<!-- 	<p>We've started to design some prototypes for Proving things to Government.<br />Here is a collection of prototypes we're designing and testing.</p> -->

		<h2 class="heading-medium">Outgoing Communication</h2>
	<!-- 	<p>A service to prove an applicants income for Family Casework using information provided by HMRC.</p> -->

<table>
        <thead>
          <tr>
            <th>Version</th>
            <th>Notes</th>
            <th>Published</th>
            <th>Prototype</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>1</td>
            <td>Initial version</td>
            <td>24th May 2016</td>
            <td><a href="/outgoing-comms/1/1">View</a></td>
          </tr>

          <tr>
            <td>2</td>
            <td>Revised following user testing</td>
            <td>1 June 2016</td>
            <td><a href="/outgoing-comms/2/1">View</a></td>
          </tr>
        </tbody>
      </table>



 <!--      <h2 class="heading-medium">People to contact</h2>
		<ul class="list list-bullet">
			<li>
				<a href="mailto:Andrew.Birkett@digital.homeoffice.gov.uk" title="Minion">
					Andrew Birkett - Developer
				</a>
			</li>
			<li>
				<a href="mailto:Andrew.Moores@digital.homeoffice.gov.uk" title="Minion">
					Andrew Moores - Platform
				</a>
			</li>
			<li>
				<a href="mailto:Greg.Smith@digital.homeoffice.gov.uk" title="Walter White">
					Greg Smith - Service Delivery
				</a>
			</li>
			<li>
				<a href="mailto:Kenny.Grant@digital.homeoffice.gov.uk" title="Blue Rinse">
					Kenny Grant - Product Manager
				</a>
			</li>
			<li>
				<a href="mailto:Mark.Goddard@digital.homeoffice.gov.uk" title="Rick Grimes">
					Mark Goddard - Designer
				</a>
			</li>
			<li>
				<a href="mailto:Mitchell.Agoma@digital.homeoffice.gov.uk" title="Phil Mitchell">
					Mitchell Agoma - Quality Assurance
				</a>
			</li>
			<li>
				<a href="mailto:Oliver.Beal@digital.homeoffice.gov.uk" title="Emmet">
					Oliver Beal - User Researcher
				</a>
			</li>
			<li>
				<a href="mailto:Raj.Kissy@digital.homeoffice.gov.uk" title="Justin Suarez">
					Raj Kissy - Business Analyst
				</a>
			</li>
			<li>
				<a href="mailto:Richard.Machen@digital.homeoffice.gov.uk" title="Gonzo">
					Richard Machen - Product Owner / Stakeholder Engagement
				</a>
			</li>
		</ul> -->
    </div>
  </div>
</main>

{% endblock %}


