{% extends "layout.html" %} {% block page_title %} Notifying people - Home Office {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
        <span class="heading-secondary">Government as a Platform (GaaP)</span>
     	Notifying People
      </h1>

            <h2 class="heading-large">Current prototypes</h2>

            <h2 class="heading-medium">Outgoing Communication</h2>

            <table>
                <thead>
                    <tr>
                        <th>Version</th>
                        <th>Notes</th>
                        <th>Published</th>
                        <th>Prototype</th>
                    </tr>
                </thead>
                
                <tbody>                    
                    <tr>
                        <td>8.6</td>
                        <td>TO TEST: Option 1</td>
                        <td>23 June 2016</td>
                        <td><a href="/outgoing-comms/5/index4">View</a></td>
                    </tr>                       
                    <tr>
                        <td></td>
                        <td>TO TEST: Option 2</td>
                        <td>23 June 2016</td>
                        <td><a href="/outgoing-comms/5/index">View</a></td>
                    </tr>                    
                    <tr>
                        <td>8.5</td>
                        <td>Path through to single applicant</td>
                        <td>21 June 2016</td>
                        <td><a href="/outgoing-comms/5/index">View</a></td>
                    </tr>                       
                    <tr>
                        <td></td>
                        <td>Path through to applicant with 4 dependants (non-functional previews)</td>
                        <td>21 June 2016</td>
                        <td><a href="/outgoing-comms/5/index4">View</a></td>
                    </tr>  
                    <tr>
                        <td>8</td>
                        <td>Remove edit page, clarify details on results page</td>
                        <td>21 June 2016</td>
                        <td><a href="/outgoing-comms/5/index">View</a></td>
                    </tr>                  
                    <tr>
                        <td></td>
                        <td>Version with single dependant</td>
                        <td>21 June 2016</td>
                        <td><a href="/outgoing-comms/5/check-results-dependants">View</a></td>
                    </tr>                
                    <tr>
                        <td></td>
                        <td>Version with 4 depenants</td>
                        <td>21 June 2016</td>
                        <td><a href="/outgoing-comms/5/check-results-dependants4">View</a></td>
                    </tr>                      
                    <tr>
                        <td>8.1</td>
                        <td>With inline, optional email preview</td>
                        <td>21 June 2016</td>
                        <td><a href="/outgoing-comms/5/check-results-email">View</a></td>
                    </tr>                
                    <tr>
                        <td></td>
                        <td>With inline, optional email preview and single dependant</td>
                        <td>21 June 2016</td>
                        <td><a href="/outgoing-comms/5/check-results-dependants-email">View</a></td>
                    </tr>                  
                    <tr>
                        <td>8.2</td>
                        <td>Rotated dependants table, 1 dependant</td>
                        <td>21 June 2016</td>
                        <td><a href="/outgoing-comms/5/check-results-rot1">View</a></td>
                    </tr>                     
                    <tr>
                        <td></td>
                        <td>Rotated dependants table, 4 depenants</td>
                        <td>21 June 2016</td>
                        <td><a href="/outgoing-comms/5/check-results-rot4">View</a></td>
                    </tr>                       
                    <tr>
                        <td>8.3</td>
                        <td>Rotated all the tables, email previews</td>
                        <td>21 June 2016</td>
                        <td><a href="/outgoing-comms/5/check-results-rot1-all">View</a></td>
                    </tr>                       
                    <tr>
                        <td></td>
                        <td>Rotated all the tables, 4 dependants, email previews (non-functional)</td>
                        <td>21 June 2016</td>
                        <td><a href="/outgoing-comms/5/check-results-rot4-all">View</a></td>
                    </tr> 



                </tbody>
            </table>
            

            <h2 class="heading-medium">Email confirmation as part of DCJ</h2>

            <table>
                <thead>
                    <tr>
                        <th>Version</th>
                        <th>Notes</th>
                        <th>Published</th>
                        <th>Prototype</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>2</td>
                        <td>Email capture &amp; consent moved to alternate address details</td>
                        <td>15th June 2016</td>
                        <td><a href="/DCJ/2/email-password">View</a></td>
                    </tr>


                    <tr>
                        <td>1</td>
                        <td>Initial version</td>
                        <td>2nd June 2016</td>
                        <td><a href="/DCJ/3">View</a></td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</main>

{% endblock %}